 .actor-image-enigme img {
     /* background: url(./images/Illustrations+Logo/Enigme/Pantherenigme1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
     width: 95%;
     height: 100%;
     margin-left: 25%;
 }

 .actor-image-enigme {
     margin: auto;
     margin-bottom: 1%;
 }

 .txt-enigme p {
     margin-right: 20px;
     margin-top: 20%
 }

 .quiz {
     display: flex;
     gap: 25%
 }

 .doYouKnow {
     text-align: center;
     width: 50%;
     background: url(./images/Illustrations+Logo/Enigme/Pantherenigme2.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;

 }

 .text-enigme {
     background: url(./images/Illustrations+Logo/Enigme/Pantherenigme2.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;

 }

 h2.question {
     font-family: 'wakanda-forever';
     font-size: 43px;
     width: 70%;
 }


 input[type="text"]::placeholder {
     color: #DF99F2;
 }

 input {
     height: 48px
 }

 form {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     gap: 100px
 }

 form input[type=submit]:hover {
     box-shadow: #F2CEF2;

 }
