main {
    margin: auto !important;
    width: 90%;
}

.hero-wakanda {
    background: #fff;
    padding-right: 50%;
}

.content-wakanda1 {
    padding-top: 10px;
    background: url(./images/Illustrations+Logo/Wakanda/Pantherwakanda2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    gap: 30px;
}

.origine {
    grid-row: 1/3;
}

p {
    text-align: justify;
    margin-bottom: 15px;
    letter-spacing: 0.1px;
}

.content-wakanda2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.75fr 1fr;
    gap: 30px;
}



.decoration-BP {
    background: url(./images/Illustrations+Logo/Wakanda/Pantherwakanda2-1\(copie\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cinema-afro {
    grid-row: 2/4;
}

.space {
    margin-left: 5%;
}
